body {
  font-family: "Open-sans", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.container {
  margin: auto;
}

/* COMMON CLASSES */
.primary-text {
  color: #56a79a;
}

.primary-background {
  background: #56a79a;
}

/* HEADER */
#main-header {
  border-bottom: 1px solid #56a79a;
  color: white;
}

/* NAVBAR */
#navbar {
  text-transform: uppercase;
}

#navbar li {
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: white;
}

#navbar li.current a,
#navbar a:hover {
  color: #56a79a;
  border-bottom: 3px solid #56a79a;
  padding-bottom: 3px;
}

/*CONTROL BUTTONS*/
* {
  box-sizing: border-box;
}

#control_buttons .container {
  overflow: hidden;
}

/* Style the buttons */
#myBtnContainer li {
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#myBtnContainer button {
  text-decoration: none;
  color: white;
}

#myBtnContainer li.current button,
#myBtnContainer button:hover {
  color: #56a79a;
  border: 3px solid #56a79a;
  padding-bottom: 3px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  border: 1px solid #56a79a;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-top: 30px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: black;
  color: #56a79a;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: #56a79a;
  transform: rotateY(180deg);
}

.flip-card-front .img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flip-card-back .text {
  margin-top: 20px;
}

#main-footer {
  color: white;
  font-size: 25px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.social-media ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-media .btn i {
  font-size: 30px;
}

.btn1 {
  margin-left: 15px;
  background: #56a79a;
  transform: translateY(-20%);
}

.btn2 {
  margin-left: 15px;
  background: #56a79a;
  transform: translateY(-20%);
}